!!! 5
%html
  %head
    = partial :head
  %body
  .site-header
    %h1<
      eightbitraptor.com
      %span< Rawr
  .container
    .top
      .right-column
        .nav
          = partial :navigation
        .about
          = partial :about
      .post-preview-container
        = partial :carousel, :locals => { :posts => locals[:posts]}
    .main
      = yield
