<div class="post">
  <h2><a href=<%= "/posts/#{locals[:post].printable_pathname}" %>><%= locals[:post].title %></a></h2>
  <%= to_html(locals[:post].body) %>
  <p class="tags">posted on <%= pretty_date(locals[:post].published) %>, and tagged with
    <% locals[:post].tags.each do |tag| %>
      <a href="<%= "/tags/#{tag}" %>"><%= tag %></a>
    <% end %>
  </p>
</div>
